@import '~antd/dist/antd.less';

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
}

.site-layout-content {
    min-height: 1200px;
    padding: 24px;
    background: #fff;
}

.logo {
    width: 115px;
}

.header-row-container {
    height: 130px;
    padding-left: 24px;
    background-color: #fff;
}

.logo-container {
    padding-top: 8px;
}

.header-col-container {
    padding-top: 45px;
    text-align: center;
}

.shoppingcartpopoveritem-img {
    width: 100px;
    height: 70px;
    object-fit: cover;
    border-radius: 12%;
    margin-right: 100px;
}

.carousel-container-style {
    height: 500px;
    color: #fff;
    line-height: 160px;
    text-Align: center;
    background: #000000;
    margin-bottom: 25px;
}

.carousel-img {
    width: 2000px;
    height: 500px;
    object-fit: cover;
}

.space-margin-bottom {
    margin-bottom: 100px;
}

.header-filter-container {
    border: 1px solid #D1D1D1;
    background: #F9F9F9;
    padding: 9px 16px;
    height: 50px;
}

.filter-tag {
    background: #F4F8EC;
    color: #6A983C;
    font-weight: 600;
}

.ant-checkbox-group-item {
    display: flex;
}

.star-outlined {
    color: #D1D1D1;
}