@import '~antd/dist/antd.less';

.site-layout-content {
    min-height: 1200px;
    padding: 24px;
    background: #fff;
}

.logo {
    width: 115px;
}

.header-row-container {
    height: 130px;
    padding-left: 24px;
    background-color: #fff;
}

.logo-container {
    padding-top: 8px;
}

.header-col-container {
    padding-top: 45px;
    text-align: center;
}

.shoppingcartpopoveritem-img {
    width: 100px;
    height: 70px;
    object-fit: cover;
    border-radius: 12%;
    margin-right: 100px;
}

.carousel-container-style {
    height: 500px;
    color: #fff;
    line-height: 160px;
    text-Align: center;
    background: #364d79;
    margin-bottom: 25px;
}

.carousel-img {
    width: 2000px;
    height: 500px;
    object-fit: cover;
}

.space-margin-bottom{
    margin-bottom: 100px;
}